/* .list-group{
    padding-right: 50%;
} */
/* @import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700); 
 body {
    background: red;
    font-family: 'Open Sans', sans-serif;
}  */
.container{
    /* background-color: cadetblue; */
    /* color: blueviolet; */
}